.faq {
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: 'Didact Gothic', sans-serif;
    h2 {
        padding: 40px;
        max-width: 800px;
        text-align: center;
        display: block;
        margin: auto;
    }
    .accordion {
        display: block;
        margin: auto;
        background-color: white;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 90%;
        max-width: 600px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
    }
    .panel {
        width: 90%;
        max-width: 600px;
        margin: auto;
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    p {
        padding: 30px;
        max-width: 800px;
        text-align: center;
        display: block;
        margin: auto;
    }
}

.active,
.accordion:hover {
    background-color: #ccc;
}
