/* Give Smooth Scroll to sections */
* {
	scroll-behavior: smooth;
}

/* Banner with text and Logo */
.banner {
  background-color: #252525;
  text-align: center;
  color: white;
  padding: 80px 0 0 0;
}

.banner h1 {
	font-family: 'Bebas Neue', cursive;
}

.banner p {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2em;
	padding: 0 20px;
}

.bannerimg {
  display: block; 
  width: 35%;
  max-width: 380px;
  margin: 0 auto;
  padding: 15px; 
}

/* Header */
.welcomeheader {
	background-color: white;
	text-align: center;
	padding: 16px 0;
	font-family: 'Sigmar One', cursive;
}

/* Body */
.container-fluid {
	background: rgba(31,31,31,0.85);
}

.index .row {
	margin: auto;
	justify-content: space-evenly;
}

.textbox {
	background-color: white;
	margin: 4% 10px;
	padding: 0;
	box-shadow: 0px 4px 8px 0 black, 0 6px 20px 0 black;
}

.textbox:hover {
	transition: all ease-in-out 250ms;
	box-shadow: 0px 12px 40px 0 black, 0 6px 20px 0 black;
}

.textbox p {
	padding: 15px;
	font-size: 14pt;
}

@media only screen and (max-width: 766px) {
  .textbox p {
    font-size: 12pt;
  }
}

.textbox h2 {
	font-family: 'Bebas Neue', cursive;
	padding: 8px;
	text-align: center;
	background-color: #bffbff;
	border-bottom: solid black 3px;
}

.gototop {
	background-color: white;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
}