.privatelessons {
	background-color: #252525;
	padding: 10px;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: white;
}

.packagebox {
	background-color: white;
	margin: 2% 10px;
	padding: 0;
	box-shadow: 0px 4px 8px 0 black, 0 6px 20px 0 black;
}

.packagebox p {
	padding: 10px;
	font-size: 14pt;
}

.title {
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #bffbff;
	border-bottom: 2px solid black;
}

.lessons .row {
	margin: auto;
	justify-content: space-between;
}

.lessons2 .row {
	margin: auto;
	justify-content: space-around;
}