/* Arrow to next section w/ background */
.arrow {
	display: block;
	margin: 0 auto;
	width: 25%;
	max-width: 80px;
}

.jumbotron-fluid {
	background: rgba(255,255,255,0.95);
	padding: 5px;
	margin: 0;
}