@keyframes slidein {
    0% {
        top: -250px;
    }

    60% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

@keyframes flipin {
    0% {
    }

    100% {
        transition: 0.6s;
        transform-style: preserve-3d;
        transform: rotateX(360deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: #39B7CD;
    }
    25%{
        background-color: #0BB5FF;
    }
    50%{
        background-color: #5D8AA8;
    }
    75%{
        background-color: #000080;
    }
}