.intro {
    padding: 20px 20px;
    font-family: 'Didact Gothic', sans-serif;
    h2 {
        font-size: 1.8em;
        font-style: italic;
        padding: 10px;
    }
    p {
        font-size: 1em;
        line-height: 1.7em;
    }
}

.slide {
    max-width: 600px;
    margin: 10px auto;
}