/* Example of Different SASS Technique */
.buttonHeader {
    margin: 25px;
    padding: 35px;
    border-radius: 15px;
    color: $buttonText;
    background-color: $buttonColor;
    a{
        text-decoration: none;
        color: white;
        font-size: larger;
    }
    &:hover{
        background-color: black;
        transition: all ease-in-out 400ms;
    }
}

.buttonFooter {
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    color: $buttonText;
    background-color: $buttonColor;
    a{
        text-decoration: none;
        color: white;
    }
    &:hover{
        background-color: black;
        transition: all ease-in-out 400ms;
    }
}