@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Variables */
$siteBackColor: #e8f4ff;
$buttonColor: #6cbcf5;
$buttonText: white;


/* Example of Nesting */
body {
	margin: 0 auto;
	max-width: 1080px;
	background-color: white;
	font-family: 'Nunito', sans-serif;
    font-weight: 300;
    p {
        font-size: 25px;
        margin: 30px;
        overflow: auto;
        max-width: 1080px;
    }
    h2 {
        text-align: center;
        background-color:  #518dc2;
        padding: 12px;
        color: white;
        font-weight: 10;
    }
}

.banner {
	width: 100%;
}


/* Mixin and Variables */
@mixin header-footer {
    margin: 0;
	padding: 12px;
	text-align: center;
	background-color: $siteBackColor;
}

.header	{
	@include header-footer()
}

.footer	{
	@include header-footer()
}


/* Example of Different SASS Technique */
@import "./button";


.photo {
    display: block;
    margin: 35px auto;
    width: 50%;
}